html {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(242, 247, 246);
    font: 15em;
    min-width: 450px;
    overflow-x: auto;
    box-sizing: border-box;
    min-height: 100%
}

  header, header .head{
    background-color: #C06C84;
    min-height: 100px;
    border-bottom: 1px solid #F67280;
    margin: 0;
    width: 100%;
   
}
header .head{
    float: left;
    padding: 10px;
}
.dashboard-logo{
    padding-top: 0px;
    clear: right;
    display: inline-block;
    margin: 15px 0 15px 15px;
 } 

header .logo{
    padding-top:15px;
    clear: right;
    display: inline-block;
    margin: 15px 0 0 15px;
    
}
 
  aside, footer, header, nav, section {
    display: block;
  }
  
  h1, h2, h3, h4, h5, h6 {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  p, li {
      font-family: Roboto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}
.main p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 25px; 
    text-align: center;
}
.main span{
    font-weight: 900;
}
.report-status, .logout, input[type=submit]{
    float: right;
    clear: left;
}
.report-status{
    font-family:'Times New Roman', Times, serif;
    padding: 7px;
    border: 2px solid lightblue; 
border-radius: 4px;
}

 .logout, input[type=submit]{
    margin: 4px 2px 20px 2px;
    background-color:#355C7D;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 10px 20px 6px 20px;
    font-size: 18px;
}
.row-container{
    border-bottom: 2px solid lightgrey;
}
.btn{
    padding: 5px;
margin: 4px 2px 20px 2px;
background-color:#355C7D;
color: white;
border-radius: 6px;
cursor: pointer;
border: none;

}
.edit-btn{
    color: white;
}
.report-type{
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.insight, .report-desc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 20px;
}
.insight{
    line-height: 30px;
    
}
 form input[type=checkbox]{
    float: left;
    
}
.auth-form {
    background-color:#f0dbe1;
    padding: 20px 20px;
    margin: 0 0;
    border:2px solid #f0dbe1;
    border-radius: 5px;
}
input[type=datetime],.status-dropdown,input[type=text],input[type=text], input[type=password], input[type=email], input[type=number] {
    padding: 12px 20px;
    margin: 0 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}
input[type=text], input[type=password], input[type=email], input[type=number]{
    width: 100%;
}
.btn:hover, .logout:hover, input[type=submit]:hover{
    background-color:#62ABE8; 
}

.btn-primary{
   margin-bottom: 20px 
}
a{
    text-decoration: none;
    font-weight: 900px;
}
.login{
    padding-top: 30px;
    margin: 20px 0 30px 0;
}


 .current{
    background-color: #355C7D;
    color: white;
    border-radius: 6px;
}

.topnav a{
    display: block;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.sidenav li:hover, .topnav a:hover{
    background-color: rgb(59, 53, 53);
    border-radius: 6px;
}
.welcome{
    margin-top: 50px;
    padding: 10px 0 0 20px;
}
.right{
    float: right;
}
.status-dropdown{
    margin-left: 130px;
    margin-top:0;
} 
.sidenav{
    min-height: 100%; 
    top:-122px; 
     width: 18%;
    position:relative;
    z-index:1;
    top:0;
    left:0;
    background-color:	 #d194a5;
    overflow-x: hidden;
    padding-top: 10px;
    border-right: 2px solid #f0dbe1;
    }
.sidenav ul a {
        text-align: left;
        padding: 0;
        padding-bottom: 10px;
        color:white;
        font-size: 25px;
        
    }
.sidenav ul{
        padding:0px 5px 15px 5px;
    }
.sidenav li{
        padding-left: 10px;
        list-style: none;
        margin-bottom: 20px;
        margin-right: 50px;
        
    } 

footer{
    background-color: #C06C84;
    clear: both;
  	position: relative;
	bottom: 0px;
	left: 0px;
	width:100%;
	margin-top: 10px;
    text-align: center;
    padding: 0.1px;
}
footer p{
    padding: 0px;
    text-align: center;
}

.sd-col-1 {width: 8.33%;}
.sd-col-2 {width: 16.66%;}
.sd-col-3 {width: 25%;}
.sd-col-4 {width: 33.33%;}
.sd-col-5 {width: 41.66%;}
.sd-col-6 {width: 50%;}
.sd-col-7 {width: 58.33%;}
.sd-col-8 {width: 66.66%;}
.sd-col-9 {width: 75%;}
.sd-col-10 {width: 83.33%;}
.sd-col-11 {width: 91.66%;}
.sd-col-12 {width: 100%;}

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .main p{
        font-size: 30px;
        line-height: 55px;
        padding: 40px 0px 0px 10px;
        text-align: center;
    }
    .main span{
        font-weight: 900;
    }
    .login{
        padding-top: 30px;
        margin: 100px 20px 50px 10px;
    }
    .sidenav li{
        margin-right: 10px;
    }
}


 


/*

nav .list1 li{
    float: left;
}
nav ul .current{
    background-color: #355C7D;
    color: white
}
nav .list2 li{
    float: right;
}
nav .list2 li a{
    display: block;
    padding: 5px 25px;
}
li{
    list-style: none;
}
li a{
    display: block;
    padding: 5px 60px;
    text-align: center;
    color: white;
    font-size: 20px;
}
li a:hover{
    background-color: #111;
}
.sidenav{
height: 100%;
/* top:-122px; */
/* width: 18%;
position:relative;
z-index:1;
top:0;
left:0;
background-color: #C06C84;
overflow-x: hidden;
padding-top: 10px;
float: left;
border-right: 1px solid #F67280;
}
.sidenav a {
    text-align: left;
    padding: 0;
    padding-bottom: 10px
}
.sidenav ul{
    padding:0px 5px 15px 5px;
}
.sidenav li{
    padding-left: 10px;
    
}
a{
    text-decoration: none;
    font-weight: 900px;
}
/* welcome message */
/* .welcome{
    padding: 10px 0 10px 20px;
} */

/* table */
/* .table{
    clear: both;
    height: 100%;
}
table{
    width: 100%;
} */
/* main */
/* .insight{
    
    float: right;
    width: 80%;
    height: 80%;

}

section .main{
    float: left;
    width: 50%;
}
.main p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 55px; 
    padding: 100px 0px 0px 10px;
    text-align: center;
}
section .main span{
    font-weight: 900;
}

aside .container, aside .containers{
    float: right;
    width: 45%;
    padding: 5px 10px 0 10px;   
}
aside .containers{
  margin-top: 130px;    
 }

aside .container form{
    margin: 0 0 20 0px;
}
aside .container .signUp-m{
    margin-bottom: 25px;
}

.clear-fix{
    display: table;
    content: " ";
  }
  
  .status{
      float: right
  }  */
  

/* form */
/* .form{
    background-color:#C06C84;
    padding: 30px 50px 20px 70px;
    margin:0px 20px 0 0;
    border:2px solid #F67280;
}
.label,.sidenav.reportType,.form label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.sidenav ul .reportType{
    font-size: 25px;
}
input[type=datetime],.status-dropdown,input[type=text],.form input[type=text], input[type=password], input[type=email], input[type=number] {
    padding: 12px 20px;
    margin: 0 0 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}
.form input[type=text], input[type=password], input[type=email], input[type=number]{
    width: 100%;
} */
/* .form input[type=checkbox]{
    float: left;
} */

/* submit button and class submit */
/* #submit-btn,.submit{
box-align: center;
width: 30%;
margin-top: 20px;
padding:10px 0;
}

.form #login-btn{
    box-align: center;
    width: 30%;
    float:right;
    padding: 10px;
    text-align: center;
}
.form .username{
    margin-top: 15px;
}

.logout:hover, #submit-btn:hover,.form input[type=submit]:hover,.form input[type=submits]:hover{
    background-color:#62ABE8; 
}

/* footer */



/* .container{ */
    /* float: left;
    width: 68%;
    padding-left: 20px;

}
.report{
    border-bottom: 2px solid gray;
}
.person-reporting{
    margin-top:3px; 
    float: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.location{
    border-right: 1px solid gray;
}
.status{
    float:right;
    padding-top: 10px;
 }
 .status-dropdown{
     margin-top: 3px;
 }
 .Most-Recent-Reports{
     float: right;
     width: 25%;
     height: 100%;
     padding: 20px;
     margin: 5px;
     margin-bottom: 0;
     border: 2px solid gray;
     box-sizing: inherit;
 }
 .logout{
    margin: 10px 20px;
 }
 h2{
    font-weight: 800px;
    font-size: 40px;
    text-align: center;
    margin-top: 0px   
 }
 #attachment{ */
     /* margin-bottom: 0;  */ 
     /* font-size: 20px; */
 /* } */
 /* p{
     font-weight: 400px;
     font-size: 20px;
     line-height: 30px;
 }
 .Most-Recent-Reports p{
    color: cornflowerblue;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 } */
 
 /* .date{
     float: right;
     padding-top: 0;
 } */
 /* input[type=file]{
     padding-top: 0;
    margin: 0 0 8px;
    border-radius: 4px;
    font-size: 18px;
 } */
